altgraph==0.15
aniso8601==2.0.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
dis3==0.1.2
enum34==1.1.6
eventlet==0.22.1
Flask==0.12.2
Flask-Cors==3.0.3
Flask-JWT-Extended==3.6.0
Flask-RESTful==0.3.6
Flask-SocketIO==2.9.6
future==0.16.0
greenlet==0.4.13
idna==2.6
itsdangerous==0.24
Jinja2==2.10
macholib==1.9
MarkupSafe==1.0
mongoengine==0.15.0
nanpy==0.9.6
oauthlib==2.0.7
paho-mqtt==1.3.1
peewee==3.0.13
pefile==2017.11.5
Pillow==8.3.2
psutil==5.4.5
psycopg2==2.7.4
psycopg2-binary==2.7.4
PyInstaller==3.3.1
PyJWT==1.5.3
pymongo==3.6.0
pyserial==3.4
python-engineio==2.0.4
python-socketio==1.9.0
pytz==2017.3
reportlab==3.4.0
requests==2.18.4
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
schedule==0.5.0
six==1.11.0
urllib3==1.22
Werkzeug==0.14.1
